<div>
    <h1>I am the main template!</h1>

    <ng-form>
        <div>
            <label for="username">Username: </label>
            <input type="text" id="username" ng-model="username" placeholder="Type your username" />
        </div>
        <br>
        <div>
            <label for="marital-status">Marital Status: </label>
            <select id="marital-status" ng-options="maritalStatusItem for maritalStatusItem in maritalStatusList" ng-model="maritalStatus">
                <option value="">---Please select---</option>
            </select>
        </div>
        <br>
        <div>
            <label>
                Do you have dogs:
                <input type="checkbox" id="dogs-checkbox" ng-model="dogsCheckbox" ng-true-value="'YES'" ng-false-value="'NO'">
            </label>
        </div>
        <br>
        <div>
            <label>Gender: </label>
            <br>
            <label for="gender-male">
                <input type="radio" id="gender-male" ng-model="genderRadio" ng-value="'Male'">
                I am a Male
            </label>
            <br>
            <label for="gender-female">
                <input type="radio" id="gender-female" ng-model="genderRadio" ng-value="'Female'">
                I am a Female
            </label>
        </div>
        <br>
        <div>
            <label for="disabled-field">Disabled Field: </label>
            <input type="text" id="disabled-field" ng-model="disabledField" ng-disabled="true">
            <label for="enabled-field">Enabled Field: </label>
            <input type="text" id="enabled-field" ng-model="enabledField" ng-disabled="false">
        </div>
        <br>
        <div>
            <label for="hidden-field">Hidden Field: </label>
            <input type="text" id="hidden-field" ng-model="hiddenField" ng-hide="true">
        </div>
        <br>
    </ng-form>

</div>